@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  background-color: darkgreen;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.card {
  width: 16rem;
  height: calc(16rem * (7 / 5));
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  background: #f5f5f5;
  text-align: center;
  font-size: 10rem;
  position: relative;

  .top-suit {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 5rem;
  }
  .bottom-suit {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 5rem;
  }
  .number {
    position: absolute;
    top: 10%;
  }
}
button {
  /* width: 150px; */
  height: 30px;
  margin: 2.5rem auto 0 auto;
  border-radius: 20px;
  background-color: darkred;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
.mini-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  color: white;
}
